// Breadcrumb max width 128px
$breadcrumb-max-width: $grid-size * 16;

.gl-breadcrumbs {
  @include gl-border-0;
  @include gl-inset-border-b-1-gray-300;
  @include gl-py-5;
}

.gl-breadcrumb-list {
  @include gl-bg-transparent;
  @include gl-p-0;
  @include gl-align-items-center;
  @include gl-line-height-normal;
  @include gl-m-0;
  @include media-breakpoint-down(xs) {
    @include gl-flex-wrap;
  }
}

.gl-breadcrumb-separator {
  @include gl-display-inline-flex;

  > svg {
    @include gl-my-auto;
    @include gl-mx-3;
    @include gl-w-3;
    @include gl-text-gray-700;
    @include gl-fill-current-color;
  }
}

.gl-breadcrumb-avatar-tile {
  @include gl-mr-2;
  @include gl-border-1;
  @include gl-border-solid;
  @include gl-border-gray-300;
  @include gl-rounded-full;
}

// bootstrap overrides
.gl-breadcrumb-item {
  @include gl-font-sm;
  @include gl-line-height-normal;

  > a {
    @include gl-text-gray-700;
    @include media-breakpoint-down(xs) {
      @include str-truncated($breadcrumb-max-width);
    }
  }
}

.gl-breadcrumb-item:last-child > a {
  @include gl-text-gray-950;
  @include gl-font-weight-bold;
}
